/* Variables */
:root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100, 255, 218, 0.1);

    --font-sans: 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;

    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;

    --border-radius: 4px;
    --nav-height: 100px;
    --nav-scroll-height: 70px;

    --tab-height: 42px;
    --tab-width: 120px;

    --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Reset */
html {
    box-sizing: border-box;
    width: 100%;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--navy);
    color: var(--slate);
    font-family: var(--font-sans);
    font-size: var(--fz-xl);
    line-height: 1.3;
}

a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: var(--transition);
}

a:hover,
a:focus {
    color: var(--green);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px 0;
    font-weight: 600;
    color: var(--lightest-slate);
    line-height: 1.1;
}

p {
    margin: 0 0 15px 0;
}

/* Utilities */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    padding: 100px 0;
    max-width: 1000px;
    margin: 0 auto;
}

.btn-primary {
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: var(--border-radius);
    padding: 1.25rem 1.75rem;
    font-size: var(--fz-sm);
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
}

.btn-primary:hover {
    background-color: var(--green-tint);
}

.section-title {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0 40px;
    width: 100%;
    font-size: clamp(26px, 5vw, 32px);
    white-space: nowrap;
}

.section-title span {
    position: relative;
    bottom: 4px;
    margin-right: 10px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(16px, 3vw, 20px);
    font-weight: 400;
}

.section-title:after {
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--lightest-navy);
}

/* Header */
header {
    position: fixed;
    top: 0;
    z-index: 11;
    padding: 0px 50px;
    width: 100%;
    height: var(--nav-height);
    background-color: rgba(10, 25, 47, 0.85);
    backdrop-filter: blur(10px);
    transition: var(--transition);
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--lightest-slate);
    font-family: var(--font-mono);
}

.logo a {
    color: var(--green);
    font-size: 32px;
    font-weight: 700;
    border: 2px solid var(--green);
    padding: 5px 10px;
    border-radius: 50%;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 5px;
    position: relative;
}

.nav-links a {
    padding: 10px;
    font-size: var(--fz-xs);
}

.nav-links .btn-resume {
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: var(--border-radius);
    padding: 0.75rem 1rem;
    margin-left: 15px;
}

.nav-links .btn-resume:hover {
    background-color: var(--green-tint);
}

.hamburger {
    display: none;
}

/* Hero */
#hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding: 0;
}

.hero-intro {
    margin: 0 0 30px 4px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
    font-weight: 400;
}

.hero-name {
    margin: 0;
    font-size: clamp(40px, 8vw, 80px);
    font-weight: 600;
    color: var(--lightest-slate);
    line-height: 1.1;
}

.hero-subtitle {
    margin-top: 10px;
    color: var(--slate);
    line-height: 0.9;
    font-size: clamp(40px, 8vw, 80px);
}

.hero-desc {
    margin: 20px 0 0;
    max-width: 540px;
    font-size: var(--fz-lg);
}

#hero .btn-primary {
    margin-top: 50px;
}

/* About */
.about-content {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0 10px;
    padding: 0;
    margin: 20px 0 0 0;
    overflow: hidden;
    list-style: none;
}

.skills-list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
}

.skills-list li:before {
    content: "▹";
    position: absolute;
    left: 0;
    color: var(--green);
    font-size: var(--fz-sm);
    line-height: 12px;
}

.img-wrapper {
    position: relative;
    width: 100%;
    max-width: 300px;
    display: block;
}

.img-wrapper img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    position: relative;
    z-index: 1;
    transition: var(--transition);
    display: block;
}

.img-wrapper:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    border: 2px solid var(--green);
    top: 20px;
    left: 20px;
    z-index: -1;
    transition: var(--transition);
}

.img-wrapper:hover:after {
    top: 15px;
    left: 15px;
}

/* Experience */
.jobs-container {
    display: flex;
}

.jobs-tabs {
    display: flex;
    flex-direction: column;
    width: max-content;
    z-index: 3;
}

.tab-btn {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--tab-height);
    padding: 0 20px 2px;
    border-left: 2px solid var(--lightest-navy);
    background-color: transparent;
    color: var(--slate);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    text-align: left;
    white-space: nowrap;
    cursor: pointer;
    transition: var(--transition);
    border-top: none;
    border-right: none;
    border-bottom: none;
}

.tab-btn:hover,
.tab-btn:focus {
    background-color: var(--light-navy);
    color: var(--green);
}

.tab-btn.active {
    color: var(--green);
    border-left-color: var(--green);
}

.jobs-content {
    margin-left: 20px;
}

.job-panel {
    display: none;
}

.job-panel.active {
    display: block;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.job-panel h3 {
    margin-bottom: 2px;
    font-size: var(--fz-xxl);
    font-weight: 500;
    line-height: 1.3;
}

.job-panel .company {
    color: var(--green);
}

.job-duration {
    margin-bottom: 25px;
    color: var(--light-slate);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
}

.job-desc li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    font-size: var(--fz-md);
}

.job-desc li:before {
    content: "▹";
    position: absolute;
    left: 0;
    color: var(--green);
}

/* Projects */
.project-card {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    margin-bottom: 100px;
}

.project-img {
    grid-column: 1 / 8;
    grid-row: 1 / -1;
    position: relative;
    z-index: 1;
    height: 100%;
}

.project-img .img-placeholder {
    width: 100%;
    height: 100%;
    padding-bottom: 0;
    background-color: var(--light-navy);
    border-radius: var(--border-radius);
    border: none;
}

.project-content {
    grid-column: 7 / -1;
    grid-row: 1 / -1;
    text-align: right;
    z-index: 2;
}

.project-overline {
    margin: 10px 0;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    font-weight: 400;
}

.project-title {
    color: var(--lightest-slate);
    font-size: clamp(24px, 5vw, 28px);
}

.project-desc {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: var(--border-radius);
    background-color: var(--light-navy);
    color: var(--light-slate);
    font-size: var(--fz-md);
}

.project-tech {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 25px 0 10px;
    padding: 0;
    list-style: none;
    justify-content: flex-end;
}

.project-tech li {
    margin: 0 0 5px 20px;
    color: var(--light-slate);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    white-space: nowrap;
}

.project-links {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-left: -10px;
    color: var(--lightest-slate);
    justify-content: flex-end;
}

.project-links a {
    padding: 10px;
}

/* Reverse Project Layout */
.project-card.reverse .project-img {
    grid-column: 6 / -1;
}

.project-card.reverse .project-content {
    grid-column: 1 / 7;
    text-align: left;
}

.project-card.reverse .project-tech {
    justify-content: flex-start;
}

.project-card.reverse .project-tech li {
    margin: 0 20px 5px 0;
}

.project-card.reverse .project-links {
    justify-content: flex-start;
    margin-left: 0;
    margin-right: -10px;
}

/* Blog */
.blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    margin-top: 50px;
}

.blog-card {
    background-color: var(--light-navy);
    padding: 30px;
    border-radius: var(--border-radius);
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
}

.blog-card:hover {
    transform: translateY(-7px);
}

.blog-card-header {
    margin-bottom: 15px;
}

.blog-meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    color: var(--light-slate);
}

.blog-tag {
    color: var(--green);
}

.blog-title {
    font-size: var(--fz-xl);
    margin: 0;
}

.blog-title a {
    position: static;
}

.blog-title a:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.blog-card-content p {
    font-size: var(--fz-md);
    color: var(--light-slate);
    margin-bottom: 20px;
}

.blog-card-footer {
    margin-top: auto;
}

.blog-link {
    color: var(--green);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    display: inline-flex;
    align-items: center;
}

.blog-link i {
    margin-left: 5px;
    transition: var(--transition);
}

.blog-link:hover i {
    transform: translateX(5px);
}

.blog-more {
    margin-top: 50px;
    text-align: center;
}

/* Contact */
#contact {
    text-align: center;
    max-width: 600px;
    margin: 0 auto 100px;
}

.contact-overline {
    display: block;
    margin-bottom: 20px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: var(--fz-md);
    font-weight: 400;
}

.contact-title {
    font-size: clamp(40px, 5vw, 60px);
    margin-bottom: 20px;
}

.contact-desc {
    font-size: var(--fz-lg);
    color: var(--slate);
    margin-bottom: 50px;
}

.big-btn {
    padding: 1.25rem 1.75rem;
    font-size: var(--fz-sm);
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 70px;
    padding: 15px;
    text-align: center;
}

.social-links {
    display: none;
    /* Hidden on desktop as they are usually fixed on side */
    width: 100%;
    max-width: 270px;
    margin: 0 auto 10px;
    color: var(--light-slate);
}

.social-links a {
    padding: 10px;
}

.copyright {
    color: var(--light-slate);
    font-family: var(--font-mono);
    font-size: var(--fz-xxs);
    line-height: 1;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    header {
        padding: 0 25px;
    }

    .nav-links {
        display: none;
        /* Hide nav links on mobile for now - need JS to toggle */
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 75vw;
        position: fixed;
        top: 0;
        right: 0;
        background-color: var(--light-navy);
        z-index: 10;
        transform: translateX(100%);
        transition: var(--transition);
    }

    .nav-links.active {
        transform: translateX(0);
        display: flex;
        box-shadow: -10px 0px 30px -15px var(--navy-shadow);
    }

    .hamburger {
        display: block;
        color: var(--green);
        font-size: 24px;
        cursor: pointer;
        z-index: 12;
    }

    .about-content {
        display: block;
    }

    .img-wrapper {
        margin: 50px auto 0;
        width: 70%;
    }

    .jobs-container {
        display: block;
    }

    .jobs-tabs {
        flex-direction: row;
        width: 100%;
        overflow-x: auto;
        margin-bottom: 30px;
        border-bottom: 2px solid var(--lightest-navy);
    }

    .tab-btn {
        border-left: none;
        border-bottom: 2px solid transparent;
        min-width: 120px;
        justify-content: center;
    }

    .tab-btn.active {
        border-left: none;
        border-bottom-color: var(--green);
    }

    .jobs-content {
        margin-left: 0;
    }

    .project-card {
        display: block;
        margin-bottom: 70px;
    }

    .project-img {
        display: none;
        /* Simplify for mobile */
    }

    .project-content {
        text-align: left;
        padding: 25px;
        background-color: var(--light-navy);
        box-shadow: 0 10px 30px -15px var(--navy-shadow);
    }

    .project-card.reverse .project-content {
        text-align: left;
    }

    .project-tech {
        justify-content: flex-start;
    }

    .project-tech li {
        margin: 0 10px 5px 0;
    }

    .project-links {
        justify-content: flex-start;
        margin-left: 0;
    }

    .social-links {
        display: block;
    }
}